body {
height: 100%;
}
hr{
  margin:0;
  padding:0;
}
.container{
  width:960px;
  padding-left:0;
  padding-right:0;
}
.navbar {
    padding: 0;
}
.top-bar {
    color: #707070;
    background-color: #242424;
}
.top-bar a{
    color: #707070;
}
.top-bar-form {
    border-left: 1px;
}
.dropdown .form-control {
    padding: 1.375rem .75rem;
    background-color: #242424;
    /* border: 0px; */
    border-color: #707070;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    width:170px;
}
.search-btn {
    margin-left: -60px;
    margin-right: 20px;
    border: 0px;
    color: #707070;
    background-color: transparent;
}
.dropdown-menu{
  background-color:#4c4c4c;
  width:170px;
  border-radius: 0;
  margin-top:-1px;
}
.dropdown-menu .dropdown-item{
color:#919191;
}
.dropdown-menu .dropdown-item{
  background-color: transparent;
}
.right-section {
    border-right: 1px solid #707070!important;
     padding-right: 15px;
}
.header {
    background-color: #fff;
}
.navbar-brand {
    font-weight: 600;
    color: #54BD9A!important;
}
.nav-item {
    border-left: 1px solid #dee2e6!important;
}
.nav-link {
    font-weight: 600;
    padding: 1.2rem 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-nav li:last-child {
    border-right: 1px solid #dee2e6!important;
}
.menu-items {
    height: 100%;
    border-right: 1px solid #dee2e6!important;
    border-left: 1px solid #dee2e6!important;
}
.wish-list span {
     margin: 0 15px 0 10px;
     font-size: 14px;
     border-radius: 20%;
     padding: 3px;
     color: #ffffff;
     background-color: #ADADAD;
 }
.cart {
    padding: 1.35rem 0;
    border-left: 1px solid #dee2e6!important;
}
.cart span {
    margin: 0 15px 0 10px;
    font-size: 14px;
    border-radius: 20%;
    padding: 3px 7px;
    color: #ffffff;
    background-color: #57C5A0;
}
.menu-icon i {
    padding: 1.4rem 0 1.4rem 1.24rem;
}
.carousel{
height:460px;
}
.carousel-item img{
 width:100%;
}
.carousel-text{
    position: absolute;
    top:70px;
    right: 15%; 
    z-index: 10;
    text-align: left;
}
.carousel-text .price{
  background-color:#57c5a0;
  color:white;
  line-height:100px;
  padding: 29px 10px 29px 10px;
}
.carousel-text .btn{
  background-color: white;
  margin-right:4px;
  padding: 10px;
  border-radius:0px;
}
.carousel-text .btn:hover{
  background-color: #2e2e2e;
}
.carousel-text p{
  font-size: 20px;
}
.slider-menu{
    background-color:#2e2e2e;
    height:90px;
}
.carousel-indicators {
	bottom: -40px;
	padding: 3px;
	background-color: #000;
	margin-right: 28%;
    margin-left: 28%;
}
.carousel-indicators li {
	-moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: padding-box;
	background-color: #0000;
	padding-left: 2px;
	padding-right: 2px;
	height: 6px;
	width: 200px; 
}
.carousel-indicators .active {
    background-color: #57C5A0;
}

.carousel-indicators li h4{
	padding-top: 20px;
	text-align: center;
	color: #9a9a9a;
	margin-bottom: 0;
    text-indent:0;
    width:200px;
    background-color: transparent;
}
.carousel-indicators li p{
	font-size: 15px;
	text-align: center;
	color: #9a9a9a;
    text-indent:0;
    width:200px;
    background-color: transparent;
}
.carousel-indicators .active h4 {
    color: #fff;
}
.central-indicator {
	border-right: 1px solid #9a9a9a!important;
	border-left: 1px solid #9a9a9a!important;
}
.static-content{
    margin-top: 90px;
    background-color:#242424;
    height:230px;
}
.card{
    border: none;
    margin-top: 25px;
}
.card img{
    height:180px;
    width:300px;
    border-radius: 0px;
}
.card .btn{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #363636;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  opacity: 0.9;
}
#producttile{
    background-color: #ebe7df;
}
.arrivals{
  padding-top:30px;
  padding-bottom:30px;
}
.arrivals button{
  float:right;
  background-color: transparent;
  border:1px solid #c9c2b6;
  color:#c9c2b6;
  border-radius: 0px;
}
.arrivals button:hover{
  background-color:#363636; 
}
.arrivals .text{
  font-size: 30px;
}
.badge-black{
  position: absolute;
  top: 0;
  left: 220px;
  background-color: #242424;
  color: white;
  font-size: 12px;
  padding: 29px 7px 29px 7px;
  border: none;
  border-radius:0;
}
.badge-orange{
   position: absolute;
  top: 0;
  left: 220px;
  background-color: #f27e4b;
  color: white;
  font-size: 12px;
  padding: 20px 13px 20px 13px;
  border: none;
  border-radius:0;
}
.brown,.black{
  background-color: white;
  height:50px;
  margin:0;
  padding:0;
}
.brown .price1{
   background-color:#57c5a0;
  color:white;
  padding: 24px 10px 27px 10px;
  margin-left: 12px;
}
#buy{
  position: absolute;
  right: 120px;
  bottom:20px;
  font-weight: bold;
}

.black .price2{

   background-color:#57c5a0;
  color:white;
  padding: 24px 10px 24px 10px;
  margin-left: 12px;
}
.black .btn{
  position:inherit;
  background-color: white;
}
.black .btn:hover{
  background-color: #242424;
}
.best-seller{
  margin-bottom: 47px;
}
.addons .col{
  background-color:#dfdbd4;
  border: 10px solid #ebe7df;
  margin-top:27px;
  padding-right:17px;
  padding-top: 32px;
}
.blognews .badge{
  background-color: #57c5a0;
  color: white;
  font-size: 12px;
  padding: 8px 9px 8px 9px;
  border: none;
  border-radius:0;
  margin-top: 22px;
  margin-right: 17px;
}
.blognews{
  line-height: 20px;
  text-align: left;
}
.prefooter{
  background-color: #242424;
  color:#a4a4a4;
}
.prefooter .col{
  margin-top:50px;
  margin-bottom: 50px;
}
.foot{
  background-color: #1c1c1c;
}
.footer-bottom{
background-color: #242424;
padding-top:38px;
padding-bottom:43px;
}
.input-group{
  width:250px;
  border:none;
  
}
.input-group .form-control{
  background-color: #2e2e2e;
  border:none;
    border-radius: 0px;
}
.input-group .btn{
  border-radius: 0px;
  background-color: #7d7d7d;
}
.social button{
  background-color: #2e2e2e;
  margin-right:8px;
   border-radius: 0px;
}
.social button:hover{
  background-color: #7d7d7d;
  margin-right:8px;
   border-radius: 0px;
}
.group2{
  background-color: #2e2e2e;
  color:#7d7d7d;
  padding-top:40px;
  padding-bottom:40px;
}